* {
    box-sizing: border-box;
    margin: auto;

}

.border-screen {
    overflow: auto;
    position: relative;
    width: 1500px;
    height: 850px;
}

.header {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 130px;
    background-color: black;
}

body {
    background: black;
}
.main-top {
    overflow: auto;
    position: relative;
    width: 1500px;
    height: 300px;
    border: 10px black;
    background-image: url("../../img/gif/background_forest.gif");
    /*animation: moveBackground 20s linear infinite;*/
}
/*@keyframes moveBackground {*/
/*    from { background-position: 0 0; }*/
/*    to { background-position: -100% 0; }*/
/*}*/

#left-space, #right-space {
    overflow: auto;
    position: relative;
    width: 10%;
    height: 100%;
    background-color: transparent;
}

#mid {
    overflow: auto;
    position: relative;
    width: 80%;
    height: 100%;
}


.layout {
    overflow: auto;
    float: left;
    /*border: 1px solid;*/
}

#top-status {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 15%;
}

#mid-avatar {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 83%;
}

#char-1, #char-2, #char-3, #char-4 {
    overflow: auto;
    position: relative;
    width: 12.5%;
    height: 100%;
}
.character:hover{
    filter: brightness(2);
}

#enemy {
    overflow: auto;
    position: relative;
    width: 50%;
    height: 100%;
}

#bot-condition {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 2%;
}
.status-layout{
    float: left;
    overflow: auto;
    position: relative;
    width: 12.5%;
    height: 100%;
    text-align: center;
}


#enemy-condition-left-space, #enemy-status-left-space,  #enemy-left-space  {
    overflow: auto;
    position: relative;
    width: 23%;
    height: 100%;
}
#enemy-right-space,#enemy-condition-right-space, #enemy-status-right-space{
    overflow: auto;
    position: relative;
    width: 10%;
    height: 100%;
}

#enemy, #enemy-status, #enemy-condition {
    overflow: auto;
    position: relative;
    width: 17%;
    height: 100%;
}

.main-bot {
    overflow: auto;
    position: relative;
    width: 1500px;
    height: 260px;
    border: 10px black;
}
.main-bot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../../img/before-convert/background-menu.jpg");
    filter: brightness(3);
}


#main-bot-left, #main-bot-right {
    overflow: auto;
    position: relative;
    width: 10%;
    height: 100%;
    border: 10px black;
    background-color: transparent;
}

#main-bot-content-left, #main-bot-content-right {
    overflow: auto;
    position: relative;
    width: 40%;
    height: 100%;
    border: 10px black;
}

#character-detail-border {
    overflow: auto;
    position: relative;
    width: 35%;
    height: 100%;
}

#character-avatar-border {
    overflow: auto;
    position: relative;
    width: 45%;
    height: 25%;
}

#character-name {
    overflow: auto;
    position: relative;
    width: 55%;
    height: 25%;
}

#character-detail {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 75%;
}


#character-misc {
    overflow: auto;
    position: relative;
    width: 65%;
    height: 100%;
}

#skill-border {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 25%;
}

.button-effect {
    overflow: auto;
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    border: 1px solid;
}

#skill-detail {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 25%;
}
#skill-detail-left{
    overflow: auto;
    float:left;
    width: 22%;
    height: 100%;
}
#skill-detail-right{
    overflow: auto;
    float: left;
    width: 78%;
    height: 100%;
}
#equipment-1-border, #equipment-2-border {
    top: 5px;
    overflow: auto;
    position: relative;
    width: 99%;
    height: 22%;
}
#equipment-1-border-left,#equipment-2-border-left{
    overflow: auto;
    float:left;
    width: 22%;
    height: 100%;
}
#equipment-1-border-right,#equipment-2-border-right{
    overflow: auto;
    float:left;
    width: 78%;
    height: 100%;
}

#equipment-1-border-left,#equipment-2-border-left {
    border: 2px solid black;
    background-color: lightgray;
    /*background-image: url("equipment-slot.png");*/
    background-size: cover;
    border-radius: 10px;
}
#character-name {
    border: 2px solid black;
    background-color: gray;
    background-image: url("../../img/before-convert/brown.png");
    /*background-image: url("equipment-slot.png");*/
    background-size: cover;
    border-radius: 10px;
}

#inventory-and-enemy-border {
    overflow: auto;
    position: relative;
    width: 65%;
    height: 100%;
}

#log-border {
    overflow: auto;
    position: relative;
    width: 35%;
    height: 100%;
}

#inventory-button, #enemy-button {
    overflow: auto;
    position: relative;
    width: 35%;
    height: 25%;
}

#menu-button {
    overflow: auto;
    position: relative;
    width: 30%;
    height: 25%;
}

#inventory-detail {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 75%;
}

.inventory-slot {
    float: left;
    overflow: auto;
    position: relative;
    width: 20%;
    height: 25%;
    border: 1px solid;
}

#combat-result-button {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 25%;
}

#combat-result-display {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 75%;
}


.footer {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 130px;
    background-color: dimgray;
    clear: left;
}

.line {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 10px;
    background-color: black;
}


#canvasMainScreen {
    position: relative;
    left: 1.5%;
    top: 2.5%
}


div.button-effect {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

div.button-effect::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("../../img/gif/hunter.gif");*/
    /*background-size: cover;*/
}

div.button-effect::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: inherit;
    border: solid #fff;
}

div.button-effect:hover, div.inventory-slot:hover {
    background-color: #3e8e41
}

img.inventory-item {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s;
}

div.button-effect:active {
    background-color: #3e8e41;
    /*box-shadow: 0 5px #666;*/
    transform: scale(0.9);
}

div.inventory-slot {
    display: inline-block;
    background-color: #111;
    border: solid 2px #333;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
div#inventory-button,div#enemy-button,div#menu-button {
     display: inline-block;
     background-color: #800000;
     border: solid 2px #333;
     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
     box-sizing: border-box;
 }

.inventory-item {
    position: absolute;
    bottom: 0;
    transform: translateX(50%) translateY(-5%);
}

.inventory-item:hover {
    transform: translateX(50%) translateY(-5%) scale(1.1);
    filter: brightness(2);
}
.skill-button:hover{
    scale: 1.1;
    filter: brightness(2);
}

/**/

/*.inventory-item:hover + .popup {*/
/*    display: block;*/
/*}*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}


/*---*/
div.inventory-button {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

div.inventory-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/gif/hunter.gif");
    background-size: cover;
}

div.inventory-button::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: inherit;
    border: solid #fff;
}



div.inventory-button:active {
    background-color: #3e8e41;
    /*box-shadow: 0 5px #666;*/
    transform: scale(0.9);
}

/*// layout chi tiết skill, đồ đang mặc*/
.character-detail-layout {
    overflow: auto;
    float: left;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#skill-detail {
    background-color: grey;
}

#equipment-1-border {
    background-color: gray;
    margin: 1px;
}

#equipment-2-border {
    background-color: grey;
    margin: 1px;
}
.skill-button{
    object-fit: cover;
}
/*-------------------------------------*/

p {
    color: wheat;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    font-family: "Old English Text MT", serif;
    text-shadow: 1px 1px 2px #000;
}

button:hover {
    background-color: #555;
}

button:active {
    transform: scale(0.95); /* add scale transform */
}