* {
    box-sizing: border-box;
    margin: auto;
}

.border-screen {
    overflow: auto;
    position: relative;
    width: 1500px;
    height: 850px;
}

.header {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 130px;
    background-color: dimgray;
}

.main-top {
    overflow: auto;
    position: relative;
    width: 1500px;
    height: 300px;
    border: 10px black;
    background-image: url("../../img/gif/background_forest.gif");
}

#left-space, #right-space {
    overflow: auto;
    position: relative;
    width: 10%;
    height: 100%;
    background-color: black;
}

#mid {
    overflow: auto;
    position: relative;
    width: 80%;
    height: 100%;
}


.layout {
    overflow: auto;
    float: left;
    /*border: 1px solid;*/
}

#top-status {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 15%;
}

#mid-avatar {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 83%;
}

#char-1, #char-2, #char-3, #char-4 {
    overflow: auto;
    position: relative;
    width: 12.5%;
    height: 100%;
}

#enemy {
    overflow: auto;
    position: relative;
    width: 50%;
    height: 100%;
}

#bot-condition {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 2%;
}
#enemy-condition-left-space,#enemy-status-left-space,#enemy-condition-right-space,#enemy-status-right-space,#enemy-left-space,#enemy-right-space{
    overflow: auto;
    position: relative;
    width: 17.5%;
    height: 100%;
}
#enemy,#enemy-status,#enemy-condition{
    overflow: auto;
    position: relative;
    width: 15%;
    height: 100%;
}

.main-bot {
    overflow: auto;
    position: relative;
    width: 1500px;
    height: 260px;
    border: 10px black;
}

#main-bot-left,#main-bot-right{
    overflow: auto;
    position: relative;
    width: 5%;
    height: 100%;
    border: 10px black;
    background-color: black;
}
#main-bot-content-left,#main-bot-content-right{
    overflow: auto;
    position: relative;
    width: 45%;
    height: 100%;
    border: 10px black;
}
#character-detail-border{
    overflow: auto;
    position: relative;
    width: 35%;
    height: 100%;
}
#character-avatar-border{
    overflow: auto;
    position: relative;
    width: 45%;
    height: 25%;
}
#character-name{
    overflow: auto;
    position: relative;
    width: 55%;
    height: 25%;
}
#character-detail{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 75%;
}


#character-misc{
    overflow: auto;
    position: relative;
    width: 65%;
    height: 100%;
}
#skill-border{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 25%;
}
.skill{
    overflow: auto;
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    border: 1px solid;
}
#skill-detail{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 25%;
}
#equipment-1-border,#equipment-2-border{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 25%;
}

#inventory-and-enemy-border{
    overflow: auto;
    position: relative;
    width: 65%;
    height: 100%;
}
#log-border{
    overflow: auto;
    position: relative;
    width: 35%;
    height: 100%;
}
#inventory-button,#enemy-button{
    overflow: auto;
    position: relative;
    width: 35%;
    height: 25%;
}
#menu-button{
    overflow: auto;
    position: relative;
    width: 30%;
    height: 25%;
}
#inventory-detail{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 75%;
}
.inventory-slot{
    float: left;
    overflow: auto;
    position: relative;
    width: 20%;
    height: 25%;
    border: 1px solid;
}



.footer {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 130px;
    background-color: dimgray;
    clear: left;
}

.line{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 10px;
    background-color: black;
}


#canvasMainScreen {
    position: relative;
    left: 1.5%;
    top: 2.5%
}


div.skill {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

div.skill::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/gif/hunter.gif");
    background-size: cover;
}

div.skill::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: inherit;
    border: solid #fff;
}

div.skill:hover, div.inventory-slot:hover {background-color: #3e8e41}
img.inventory-item {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s;
}

div.skill:active {
    background-color: #3e8e41;
    /*box-shadow: 0 5px #666;*/
    transform: scale(0.9);
}

div.inventory-slot {
    display: inline-block;
    background-color: #111;
    border: solid 2px #333;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.inventory-item {
    position: absolute;
    bottom: 0;
    transform: translateX(50%) translateY(-5%);
}

.inventory-item:hover {
    transform: translateX(50%) translateY(-5%) scale(1.1);
    filter: brightness(2);
}
/**/

/*.inventory-item:hover + .popup {*/
/*    display: block;*/
/*}*/

.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: solid 1px #333;
    padding: 10px;
}